<!DOCTYPE html>
<html>
<head>
<title>Especialidades</title>
<body>
    <table>
        <thead>
            <tr>
                <th>Descipcion</th>
            </tr>
        </thead>
        <tbody>
            @* aqui colocaremos mas adelante el codigo para mostrar los registrops de la base de datos     *@
            <tr>
                <td>Traumatologo</td>
            </tr>
            <tr>
                <td>cardiologo</td>
            </tr>
        </tbody>
    </table>
</body>

</head>
</html>