@model IEnumerable<turnos.Models.especialidad>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.descripcion)

                </th>
            </tr>
        </thead>
        <tbody>
            @* aqui colocaremos mas adelante el codigo para mostrar los registrops de la base de datos     *@
            @foreach (var item in Model)
            {
                 <tr>
                <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                <td> <a asp-action="Edit" asp-route-id="@item.idEspecialidad">Editar</a></td>
                 <td> <a asp-action="Delete" asp-route-id="@item.idEspecialidad">Eliminar</a></td>

            </tr>
            
            }
           
        </tbody>
    </table>
