@model turnos.Models.Turnos

@{

ViewBag.Title ="Asignacion de turnos";

}
<div class="container">
<div class="row">

<div class="col s6 ">
    <label asp-for="IdMedico">Medico</label>
    <select asp-for="IdMedico" asp-items="ViewBag.Idmedico"></select>
</div>

<div class="col s6 ">
    <label asp-for="IdPaciente">Paciente</label>
    <select asp-for="IdPaciente" asp-items="ViewBag.IdPaciente"></select>

</div>
</div>
<br>
<div id="ModalTurno" class="modal">
    <div class="modal-content">
        <h4>Turno</h4>
        <form>
            <div>
                <label>Inicio</label>
                <input type="text" id="txtFechaHoraInicio" readonly="readonly">
            </div>

             <div>
                <label>Fin</label>
                <input type="text" id="txtFechaHoraFin" readonly="readonly">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="btnEliminar" class="modal-close waves-effect waves-red btn-flat" >Eliminar</a>
        <a href="#" id="btnGuardar" class="modal-close waves-effect waves-green btn-flat" >Guardar</a>
         <a href="#" id="btnCerrar" class="modal-close waves-effect waves-grey btn-flat" >Cerrar</a>

    </div>
</div>

<div class="container">
 <div id="calendarioTurnos"></div>
</div>
<link  href="~/Fullcalendar/fullcalendar.css" rel="stylesheet">
<link  href="~/Fullcalendar/fullcalendar.print.css" media="print" rel="stylesheet">

@section Scripts{

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="~/Fullcalendar/fullcalendar.min.js"></script>
<script src="~/Fullcalendar/locale/es.js"></script>

<script>
    $(document).ready(function(){
       $('.modal').modal();// inicializar los modales
       
        var horarioDesde="";
        var horarioHasta="";
        var turnos =[];
        var  turnoSeleccionado =[];

        ObtenerTurnosYActualizar($('#IdMedico').val());
        $('#IdMedico').change(function(){
            ObtenerTurnosYActualizar(this.value);

            
        });

        function ObtenerTurnosYActualizar(idMedico){
            turnos=[];
            $.ajax({
                type:"GET",
                url:"Turnos/ObtenerTurnos",
                data:{'IdMedico':idMedico},
                success: function(datos){
                        //  poner las iniciales en minuscula.
                    $.each(datos,function(i, v){
                        turnos.push({
                            idTurno: v.idTurno,
                            idPaciente: v.idPaciente,
                            idMedico: v.idMedico,

                               start: moment(v.fechaHoraInicio),
                            end: v.fechaHoraFin != null ? moment(v.fechaHoraFin): null,

                        });
                     
                    })
                       GenararCalendario(turnos);
                },
                error: function(){
                    alert('Error al obtener turnos');
                }

            })

        }
        function GenararCalendario(turnos){

        
        $.ajax({
            type: 'GET',
            url:"Medico/TraerHorarioAtencionDesde",
            data: {"idMedico":$('#IdMedico').val()},
            async:false,
            success:function(resultado){
                horarioDesde=resultado;
            },
            error:function(){
                alert('Error al traer el horario de atencion desde el medico');
            }
        });

        $.ajax({
            type: 'GET',
            url:"Medico/TraerHorarioAtencionHasta",
            data: {"idMedico":$('#IdMedico').val()},
            async:false,
            success:function(resultado){
                horarioHasta=resultado;
            },
            error:function(){
                alert('Error al traer el horario de atencion hasta el medico');
            }
        });

        //eliminar los turnos para ver los de los demas medicos
        $('#calendarioTurnos').fullCalendar('destroy');

        $('#calendarioTurnos').fullCalendar({
        contentHeight:'auto',
        defaultDate: new Date(),
        slotLabelFormat: "HH:mm",
        defaultView:'agendaWeek',
        header:{
            left:"prev,next today",
            right:'month,agendaWeek,agendaDay',
        },
        slotDuration:'00:30',
        nowIndicator:true,
        allDaySlot:false,
        selectable:true,
        eventLimit:true,
        minTime: horarioDesde,
        maxTime:horarioHasta,
        events: turnos,
        select:function(fechaHoraInicio,fechaHoraFin){// se activa cuando no hay turnos creados dentro de una celda
                turnoSeleccionado={
                    idTurno:0,
                    start:fechaHoraInicio,
                    end:fechaHoraFin
                };
                AbrirPopup();
        },
        eventClick: function (turnoClickeado){
                        turnoSeleccionado = turnoClickeado;
                        AbrirPopup();
                    }
        })
}

 function AbrirPopup()
            {
                $('#txtFechaHoraInicio').val(turnoSeleccionado.start.format('YYYY-MM-DD HH:mm'));
                $('#txtFechaHoraFin').val(turnoSeleccionado.end.format('YYYY-MM-DD HH:mm'));
                if(turnoSeleccionado.idTurno == 0){
                    $('#btnGuardar').show();
                    $('#btnEliminar').hide();
                }
                else{
                    $('#btnGuardar').hide();
                    $('#btnEliminar').show();
                }
                $('#ModalTurno').modal('open');
            }
 
            $('#btnGuardar').click(function(){
                var datosDelTurno = {
                    IdPaciente: $('#IdPaciente').val(),
                    IdMedico: $('#IdMedico').val(),
                    FechaHoraInicio: $('#txtFechaHoraInicio').val(),
                    FechaHoraFin: $('#txtFechaHoraFin').val()
                }
                GrabarTurno(datosDelTurno);
            })
 
            function GrabarTurno(data){
                $.ajax({
                    type: "POST",
                    url: 'Turnos/GuardarTurno',
                    data: {'turno': data},
                    success: function (e){
                        if(e.ok){
                            ObtenerTurnosYActualizar($('#IdMedico').val());
                        }
                    },
                    error: function(){
                        alert('Error al grabar turno!!');
                    }
                })
            }
 
            $('#btnEliminar').click(function(){
                if(confirm ('¿Esta seguro de eliminar el turno?')){
                    $.ajax({
                        type: "POST",
                        url: 'Turnos/EliminarTurno',
                        data: {'IdTurno': turnoSeleccionado.idTurno },
                        success: function(e){
                            if(e.ok){
                                ObtenerTurnosYActualizar($('#IdMedico').val());
                            }
                        },
                        error: function(){
                            alert('Error al eliminar turno!')
                        }
                    })
                }
            })
 
        })
    
</script>
} 

</div>


